name: start

on:
  workflow_dispatch:
    inputs:
      image:
        description: Image
        required: true
        default: ubuntu-24.04
        type: choice
        options:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - macos-26
          - macos-15

      server:
        description: Socket address of the middleware server
        required: true

permissions:
  contents: read

jobs:
  start:
    runs-on: ${{ inputs.image }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Start
        run: ./action/action.sh
        env:
          PUBLIC_KEY: ${{ secrets.PUBLIC_KEY }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          SERVER_ADDRESS: ${{ inputs.server }}
          GH_TOKEN: ${{ github.token }}
