name: start

on:
  workflow_dispatch:
    inputs:
      image:
        description: 'Image to run'
        required: true
        default: 'ubuntu-latest'

permissions:
  contents: read

jobs:
  start:
    runs-on: ${{ inputs.image }}
    steps:
      - name: Setup Tailscale
        uses: tailscale/github-action@53acf823325fe9ca47f4cdaa951f90b4b0de5bb9 # v4.1.1
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_SECRET }}
          tags: tag:ci

      - name: Setup Nix
        uses: DeterminateSystems/determinate-nix-action@1d699fc25db3f9e079cd2f168ca007a4183389be # v3.15.1

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          curl -o ~/.ssh/authorized_keys https://github.com/spotdemo4.keys
          systemctl start ssh.service

      - name: Waiting for connection
        run: sleep 5m
        