name: start

on:
  workflow_dispatch:
    inputs:
      image:
        description: 'Image to run'
        required: true
        default: 'ubuntu-latest'

permissions:
  contents: read

jobs:
  start:
    runs-on: ${{ inputs.image }}
    steps:
      - name: Setup Tailscale
        uses: tailscale/github-action@53acf823325fe9ca47f4cdaa951f90b4b0de5bb9 # v4.1.1
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_SECRET }}
          tags: tag:ci

      - name: Setup Nix
        uses: DeterminateSystems/determinate-nix-action@1d699fc25db3f9e079cd2f168ca007a4183389be # v3.15.1

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          curl -s -o ~/.ssh/authorized_keys "https://github.com/${{ github.actor }}.keys"
          sudo systemctl start ssh.service

      - name: Waiting for ssh connection
        run: |
          SESSIONS=$(who -a | wc -l)
          IP=$(tailscale ip -4)
          USER=$(whoami)
          echo "connect: ssh ${USER}@${IP}"

          until [ "$(who -a | wc -l)" -gt "${SESSIONS}" ]; do
            sleep 10s
          done

      - name: Waiting for disconnection
        run: |
          SESSIONS=$(who -a | wc -l)

          until [ "$(who -a | wc -l)" -le "${SESSIONS}" ]; do
            sleep 10s
          done
