name: start

on:
  workflow_dispatch:
    inputs:
      runs-on:
        description: The runner image to use
        required: true
        default: ubuntu-24.04
        type: choice
        options:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - macos-26
          - macos-15

      server:
        description: Socket address of the middleware server
        required: true
        type: string

permissions:
  contents: read

jobs:
  start:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Start
        env:
          SERVER_ADDRESS: ${{ inputs.server }}
          GH_TOKEN: ${{ github.token }}
          TERM: xterm-256color
        run: |
          gh release download --repo trunners/runners --pattern "client_*_${RUNNER_OS}_${RUNNER_ARCH}" --output runner
          chmod +x runner
          ./runner
