name: start

on:
  workflow_dispatch:
    inputs:
      image:
        description: 'Image to run'
        required: true
        default: 'ubuntu-latest'

permissions:
  contents: read

jobs:
  start:
    runs-on: ${{ inputs.image }}
    steps:
      - name: Initialize
        uses: DeterminateSystems/determinate-nix-action@1d699fc25db3f9e079cd2f168ca007a4183389be # v3.15.1

      - name: Start upterm
        uses: owenthereal/action-upterm@74d5d8bd3d4289468cdfc077df22adb884020f06 # v1.13.0
        with:
          wait-timeout-minutes: 5
          limit-access-to-actor: true
          limit-access-to-users: spotdemo4
          