name: start

on:
  workflow_dispatch:
    inputs:
      image:
        description: Image
        required: true
        default: ubuntu-24.04
        type: choice
        options:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - macos-26
          - macos-15

concurrency:
  group: ${{ inputs.image }}

permissions:
  contents: read

jobs:
  start:
    runs-on: ${{ inputs.image }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - if: ${{ runner.os == 'Linux' && runner.arch == 'X64' }}
        name: Clean up
        uses: wimpysworld/nothing-but-nix@6af122a9403f936ef689e44cc013ae3f3e2f1c3b # v6
        continue-on-error: true
        with:
          hatchet-protocol: holster

      - name: Set up tailscale
        uses: tailscale/github-action@53acf823325fe9ca47f4cdaa951f90b4b0de5bb9 # v4.1.1
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_SECRET }}
          hostname: gh-${{ inputs.image }}
          tags: tag:ci

      - name: Set up nix
        uses: DeterminateSystems/determinate-nix-action@1d699fc25db3f9e079cd2f168ca007a4183389be # v3.15.1
        with:
          extra-conf: |
            eval-cores = 0
            accept-flake-config = true
            download-buffer-size = 524288000

      - name: Set up ssh
        run: |
          echo "::group::overwriting sshd_config"
          cat "${{ github.workspace }}/sshd_config" | sudo tee /etc/ssh/sshd_config > /dev/null
          sudo cat /etc/ssh/sshd_config
          echo "::endgroup::"

          echo "setting ssh keys"
          echo "${{ secrets.PRIVATE_KEY }}" | sudo tee /etc/ssh/ssh_host_ed25519_key > /dev/null
          echo "${{ secrets.PUBLIC_KEY }}" | sudo tee /etc/ssh/ssh_host_ed25519_key.pub > /dev/null

          echo "::group::adding ${{ github.actor }}'s keys to authorized_keys"
          curl -s "https://github.com/${{ github.actor }}.keys" | sudo tee /etc/ssh/authorized_keys > /dev/null
          sudo cat /etc/ssh/authorized_keys
          echo "::endgroup::"

          echo "starting ssh service"
          sudo systemctl start ssh.service

      - name: Wait for connection
        id: connection
        run: |
          bold=$(tput -T xterm bold)
          normal=$(tput -T xterm sgr0)

          SESSIONS=$(sudo lsof -i :22 | wc -l)
          echo "sessions=${SESSIONS}" >> "${GITHUB_OUTPUT}"

          SSH_USER=$(whoami)
          SSH_HOST=$(tailscale status | head -1 | awk '{print $2}')
          echo " "
          echo "connect: ${bold}ssh ${SSH_USER}@${SSH_HOST}${normal}"
          echo " "

          echo ":group::ssh logs"
          journalctl -f -u ssh.service &
          PID=$!

          until [[ "$(sudo lsof -i :22 | wc -l)" -gt "${SESSIONS}" ]]; do
            sleep 10s
          done

          kill $PID
          echo "::endgroup::"
          
          echo "connected!"

      - name: Wait for disconnection
        run: |
          until [[ "$(sudo lsof -i :22 | wc -l)" -le "${{ steps.connection.outputs.sessions }}" ]]; do
            sleep 10s
          done

          echo "disconnected!"
