name: start

on:
  workflow_dispatch:
    inputs:
      runs-on:
        description: The runner image to use
        required: true
        default: ubuntu-24.04
        type: choice
        options:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - macos-26
          - macos-15

      server:
        description: Socket address of the middleware server
        required: true
        type: string

permissions:
  contents: read

jobs:
  start:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Start
        env:
          SERVER_ADDRESS: ${{ inputs.server }}
          GH_TOKEN: ${{ github.token }}
        run: |
          if [[ "${RUNNER_OS}" == "Linux" ]]; then
              RELEASE_OS="linux"
          elif [[ "${RUNNER_OS}" == "macOS" ]]; then
              RELEASE_OS="darwin"
          fi

          if [[ "${RUNNER_ARCH}" == "X64" ]]; then
              RELEASE_ARCH="amd64"
          elif [[ "${RUNNER_ARCH}" == "ARM64" ]]; then
              RELEASE_ARCH="arm64"
          fi

          echo "::group::downloading client"
          gh release download --repo trunners/runners --pattern "client_*_${RELEASE_OS}_${RELEASE_ARCH}" --output runner
          chmod +x runner
          echo "::endgroup::"

          echo "starting client"
          ./runner
