name: start

on:
  workflow_dispatch:
    inputs:
      image:
        description: Image to run
        required: true
        default: ubuntu-latest
        type: choice
        options:
          - ubuntu-latest
          - warning
          - debug

permissions:
  contents: read

jobs:
  start:
    runs-on: ${{ inputs.image }}
    steps:
      - name: Setup Tailscale
        uses: tailscale/github-action@53acf823325fe9ca47f4cdaa951f90b4b0de5bb9 # v4.1.1
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_SECRET }}
          tags: tag:ci

      - if: ${{ runner.os == 'Linux' && runner.arch == 'X64' }}
        name: Cleaning Up
        uses: wimpysworld/nothing-but-nix@6af122a9403f936ef689e44cc013ae3f3e2f1c3b # v6
        continue-on-error: true
        with:
          hatchet-protocol: holster

      - name: Setup Nix
        uses: DeterminateSystems/determinate-nix-action@1d699fc25db3f9e079cd2f168ca007a4183389be # v3.15.1
        with:
          extra-conf: |
            eval-cores = 0
            accept-flake-config = true
            download-buffer-size = 524288000

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh

          echo "setting ssh keys"
          cat "${{ secrets.PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          cat "${{ secrets.PUBLIC_KEY }}" > ~/.ssh/id_ed25519.pub

          echo "adding ${{ github.actor }}'s keys to authorized_keys"
          curl -s -o ~/.ssh/authorized_keys "https://github.com/${{ github.actor }}.keys"

          echo "setting permissions"
          chmod 644 ~/.ssh/id_ed25519.pub
          chmod 600 ~/.ssh/id_ed25519 ~/.ssh/authorized_keys

          echo "starting ssh service"
          sudo systemctl start ssh.service

      - name: Waiting for connection
        id: connection
        run: |
          SESSIONS=$(sudo lsof -i :22 | wc -l)
          echo "sessions=${SESSIONS}" >> "${GITHUB_OUTPUT}"

          USER=$(whoami)
          IP=$(tailscale ip -4)
          echo "connect: ssh ${USER}@${IP}"

          until [[ "$(sudo lsof -i :22 | wc -l)" -gt "${SESSIONS}" ]]; do
            sleep 10s
          done

      - name: Waiting for disconnect
        run: |
          until [[ "$(sudo lsof -i :22 | wc -l)" -le "${{ steps.connection.outputs.sessions }}" ]]; do
            sleep 10s
          done
